<div class="home">
  <div class="box">
  <form [formGroup]="editItemForm" (ngSubmit)="editItem()" class="inputform">

    <input
      type="text"
      formControlName="id"
      class="input"
      placeholder="id"
    />
    <br />
    <input
      type="text"
      formControlName="itemName"
      class="input"
      placeholder="itemname"
    /><br />
    <input
      type="text"
      formControlName="itemPrice"
      class="input"
      placeholder="item price"
    /><br />
    <button class="updtbtn">Update</button>
  </form>
  </div>
</div>
