<div class="home">
  <div class="box">
<form [formGroup]="addItemForm" (ngSubmit)="addItem()" class="inputform">
    <h1>Add Item</h1>
    <input
      type="text"
      formControlName="id"
      class="input"
      placeholder="id"
    />
    <br />
    <input
      type="text"
      formControlName="itemName"
      class="input"
      placeholder="itemname"
    /><br />
    <input
      type="text"
      formControlName="itemPrice"
      class="input"
      placeholder="item price"
    /><br />
    <button class="addbtn">Add</button>
  </form>
  </div>
</div>