<div class="home">
  <div>
<table class="viewtable">
    <tr>
      <td>id</td>
      <td>item name</td>
      <td>item price</td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let item of items">
      <td>
        {{ item.id }}
      </td>
      <td>
        {{ item.itemName }}
      </td>
      <td>
        {{ item.itemPrice }}
      </td>
      <td><button (click)="deleteItem(item.id)" class="dltbtn">delete</button></td>
      <td><button routerLink="../update-items/{{ item.id }}" class="updtbtn">Update</button></td>
    </tr>
    <caption style="caption-side:bottom">Want to add new Item 
      <button routerLink="../add-items" class="addbtn">Add item</button></caption>
  </table>
  </div>
</div>